<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="title">FT Headline Search</h1>
    <form class="search-box" action="/" method="get">
      <label>Search for Articles</label>
      <input type="text" name="search" id="search">
      <input type="submit" value="Search">
    </form>
  </body>
</html>
