<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="title">FT Headline Search</h1>
    <div class="sub-heading">
      <%if(currentSearch === ""){%>
        <h2>Latest News</h2>
      <%} else {%>
        <h2 id="search-term-heading">Headlines related to "<%=currentSearch%>"</h2>
      <%}%>
    </div>
    <form class="search-box" action="/" method="get">
      <label>Search for Articles</label>
      <input type="text" name="search" id="search">
      <input type="submit" value="Search">
    </form>
    <div class="results">
      <%for(var i = 0; i < articles.length; i++){%>
        <a class="o-link-list__item" id="link-<%=i + 1%>" href='https://ft.com/content/<%=articles[i].id%>'>
        <%=articles[i].title.title%>
        </a>
        <br>
      <%}%>
    </div>
  </body>
</html>
